<?xml version="1.0"?>
<!-- 
  
 -->
<launch>
  <arg name="paused" default="false" />
  <arg name="gui" default="true"/>
  <arg name="verbose" default="false"/>

  <!-- Give empty_world.launch our Gazebo world (which happens to be empty). -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find claw_gazebo)/worlds/mandarin.world" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
  </include>

  <!-- Send robot urdf to param server. -->
  <include file="$(find claw_description)/launch/claw.launch" />

  <!-- Push robot_description to factory and spawn robot in gazebo. -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot" respawn="false" output="screen" />

</launch>
